<%= render 'shared/errors', obj: @article%>

<%= form_for @article do |f| %>
  <p>
    <%= f.label 'title enter kar' %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label 'Description' %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit%>
  </p>
<%end%>


[ <%= link_to "Cancel request and return to articles listing", articles_path %>]