<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path, class: "Home"%> |
    <%= link_to "All Articles", articles_path%> |
    <% if logged_in?%>
    <%= link_to "Users", users_path %> |
    <% end %>
    <%= render 'layouts/login'%>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>
</html>
